* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5fefd;
    background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
    height: 200vh;

}

header {
    font-family: LuxuriousRoman-Regular;
    justify-content: space-around;
    margin: 10px;
    height: 50vh;
}

main {
    font-family: LuxuriousRoman-Regular;
    margin: 10px;
    height: 100vh;
}

footer {
    font-family: Dongle-Regular;
    font-size: 150%;
}

article {
    font-family: RobotoMono-Regular;
    font-size: 90%;
}

form {
    font-family: RobotoMono-Regular;
    font-size: 90%;
    padding: 30px 100px 30px 100px
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 10px;
    border: solid 5px black;
    background-color: #bddcf1;
    background-image: linear-gradient(315deg, #fdf86d 0%, #bddcf1 74%);
}

input {
    width: 25%;
    padding: 10px;
    border-radius: 10px;
}

textarea {
    width: 50%;
    border-radius: 10px;
    display: block;
}

select {
    width: 50%;
}

legend {
    font-size: 30px;
}

h2 {
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    color: azure;
    padding: 40px;
    margin-bottom: none;
    /* le intente poner esto y margin top none al nav ul para que no haya espacio en el medio pero sigue habiendo, como lo puedo eliminar? */
    margin: 10px;
    border: solid 5px black;
    border-bottom: none;
    text-align: center;
    font-size: 250%;
}

h3 {
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    border-radius: 10px;
    color: azure;
    padding: 25px;
    margin: 60px 0px 30px 0px;
    border: solid 5px black;
    text-align: right;
    font-size: 150%;
}

nav ul {
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    color: azure;
    padding: 10px;
    margin-top: none;
    margin: 10px;
    border: solid 5px black;
    list-style-type: none;
    text-align: center;
    border-top: none;
    text-transform: uppercase;
    font-family: RobotoMono-Regular;
}

.aOscuros {
    /*  esta parte la tengo que terminar de arreglar, tengo que ver como hacer para eliminar la decoracion de los enlaces y configurar bien el hover  */
    text-decoration: none;
    color: purple;
    padding: 10px;
    margin: 10px;
    text-align: right;
}

.aOscuros a:hover {
    background-color: purple;
    color: rgb(165, 224, 205);
    border-radius: 50px;
    padding: 20px
}

img {
    border: solid 5px black;
}

div {
    padding: 5px;
    border: solid 5px black;
    margin: 10px;
    border-radius: 10px;
    background-color: #fdf86d;
    background-image: linear-gradient(315deg, #fdf86d 0%, #bddcf1 74%);
}

#EMlogo {
    display: flex;
    justify-content: space-around;
    background-color: #00bfb2;
    background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
    border: solid 5px black
}

.aMenu {
    text-decoration: none;
    color: rgb(165, 224, 205);
}

a:hover {
    color: darkslategrey;
}

#map {
    display: block;
}

.flexMain {
    display: flex;
}

.gridHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridMainIndex {
    display: grid;
    grid-template-areas:
        "1 3 2";
    "4 6 2";

    /* No entiendo porque no me salen las areas que quiero... Intente cambiar los numeros para ver si me los tomaba, pero me sigue mostrando "1 2 3" etc */

    /* Tambien habia probado con el codigo de abajo pero no se si es correcto, tendria que usar las areas o las fr?:
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}


/* Estan configuradas correctamente las areas? Les puse numeros como ejemplo, para ver si los tomaba */

#1 {
    grid-area: 1;
}

#2 {
    grid-area: 2;
}

#3 {
    grid-area: 3;
}

#4 {
    grid-area: 4;
}

#5 {
    grid-area: 5;
}

#6 {
    grid-area: 6;
}

/* Otra consulta que tengo sobre grid, es posible poner "grid dentro de grid", osea hacer una grilla con "body" que contenga sea "header" que "main"? Digo porque cuando achico la pantalla estas dos secciones se superponen. O me convendria directamente hacer un grid con "main" y poner todo ahi adentro (eliminando header, o si o si tiene que estar?). Mi idea inicial era de hacer 3x3 bloques, pero despues lo dividi entre header y main y ahora me quedan 3 bloques al principio y 6 despues... No se si se entiende! */

.noBorder {
    border: none
}

@font-face {
    font-family: "LuxuriousRoman-Regular";
    src: url(../fonts/LuxuriousRoman-Regular.ttf);
}

@font-face {
    font-family: "Dongle-Regular";
    src: url(../fonts/Dongle-Regular.ttf);
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: url(../fonts/RobotoMono-Regular.ttf)
}


/* Las media queries no salieron absolutamente, no entiendo si porque estan mal configuradas ellas mismas, o porque esta mal configurado grid... Les puse colores solo para ver si estaba funcionando, pero la idea era que cada uno de los "bloques" de la pagina principal salga en fila y no alineados... */


/* MEDIA QUERY- smartphone */
@media (max-width: 480px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        background-color: blue;
    }
}

/* MEDIA QUERY - tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-image: linear-gradient(white, pink);
        /* el color solo lo puse como prueba */
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        background-image: linear-gradient(yellow, orange);
        /* el color solo lo puse como prueba */
    }
}

/* MEDIA QUERY - desktop - no tenia nada para cambiarle */
@media (min-width: 1024px) {}