* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "LuxuriousRoman-Regular";
  src: url(../fonts/LuxuriousRoman-Regular.ttf);
}
@font-face {
  font-family: "Dongle-Regular";
  src: url(../fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
body {
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
  min-height: 100%;
}

header {
  font-family: LuxuriousRoman-Regular;
}

main {
  font-family: LuxuriousRoman-Regular;
}

.mainSection, .mainSectionBold, .mainSectionItalic {
  background-color: #00bfb2;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 0px 30px 0px;
  border: solid 5px black;
  text-align: right;
  font-size: 150%;
}

.mainSectionItalic {
  background-color: #559c98;
  font-style: italic;
}

.mainSectionBold {
  background-color: #a09038;
  font-weight: bold;
}

td {
  font-family: RobotoMono-Regular;
}

footer {
  font-family: Dongle-Regular;
  font-size: 120%;
}

article {
  font-family: RobotoMono-Regular;
  font-size: 90%;
}

.article2 {
  font-family: RobotoMono-Regular;
  font-size: 60%;
  text-align: left;
}

nav ul {
  background-color: #00bfb2;
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
  color: azure;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  border: solid 5px black;
  list-style-type: none;
  text-align: center;
  border-top: none;
  text-transform: uppercase;
  font-family: RobotoMono-Regular;
}

.aOscuros {
  color: purple;
  padding: 10px;
  margin: 10px;
  text-align: right;
}
.aOscuros:hover {
  color: azure;
  background-color: purple;
  border-radius: 50px;
  padding: 20px;
}

.aMenu {
  color: #a5e0cd;
}
.aMenu:hover {
  color: darkslategrey;
}

#map {
  display: block;
}

#mainContacto {
  margin-left: 10%;
  margin-right: 10%;
}

#mainColeccion {
  margin-left: 10%;
  margin-right: 10%;
}

iframe {
  border: solid 5px black;
}

img {
  border: solid 5px black;
}

a {
  text-decoration: none;
}

h1 {
  background-color: #00bfb2;
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
  color: azure;
  padding: 30px;
  margin: 0px 10px 0px 10px;
  border: solid 5px black;
  border-bottom: none;
  text-align: center;
  font-size: 300%;
  font-style: bold;
}

h2 {
  background-color: #00bfb2;
  background-image: linear-gradient(315deg, #00bfb2 0%, #028090 74%);
  border-radius: 10px;
  color: azure;
  padding: 25px;
  margin: 60px 10px 30px 10px;
  border: solid 5px black;
  text-align: right;
  font-size: 150%;
}

h3 {
  color: azure;
}

form {
  font-family: RobotoMono-Regular;
  background-color: #cab6cd;
  background-image: linear-gradient(315deg, #cab6cd 0%, #ba8f95 74%);
  font-size: 90%;
  padding: 30px 100px 30px 100px;
  border-radius: 10px;
  border: solid 5px black;
}

textarea {
  width: 100%;
  border-radius: 10px;
}

.button {
  background-color: rgba(128, 0, 128, 0.562);
  color: azure;
}

/* Smartphone */
/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
  h1 {
    font-size: 120%;
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
  }

  h2 {
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 30px 10px;
    border: solid 3px black;
    font-size: 150%;
  }

  h3 {
    font-size: 80%;
  }

  .article2 {
    font-size: 50%;
  }

  .aMenu {
    font-size: 80%;
  }

  .mainSection, .mainSectionItalic, .mainSectionBold {
    border-radius: 3%;
    border: solid 3px black;
  }

  nav ul {
    border: solid 3px black;
  }

  img {
    border: solid 3px black;
    margin: 10px;
  }

  #fotoJuegos {
    width: 100%;
    height: 50%;
  }

  form {
    padding: 10px;
    border-radius: 10px;
    border: solid 3px black;
  }
}
.mainSectionBlue {
  color: #a9a9c9;
  background-color: blue;
}

.mainSectionOrange {
  color: #6b614d;
  background-color: orange;
}

.mainSectionGreen {
  color: #a3dba3;
  background-color: green;
}

.paradox {
  color: brown;
}

.frogwares {
  color: green;
}

.kingArt {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
