/* Error: Expected ".
 *    ,
 * 22 |                 <div class="col"><a href="index.html""><img src="./img/Elaine Marley logo.jpg" width="300" alt="Elaine Marley - Logo de la pagina"></a>
 *    |                                                                                                                                                        ^
 *    '
 *   scss\_mediaQueries.scss 22:152  @import
 *   scss\origin.scss 6:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected ".\a    \2577 \a 22 \2502                  <div class="col"><a href="index.html""><img src="./img/Elaine Marley logo.jpg" width="300" alt="Elaine Marley - Logo de la pagina"></a>\d\a    \2502                                                                                                                                                         ^\a    \2575 \a   scss\\_mediaQueries.scss 22:152  @import\a   scss\\origin.scss 6:9            root stylesheet';
}
