//Fonts

@font-face {
    font-family: "LuxuriousRoman-Regular";
    src: url(../fonts/LuxuriousRoman-Regular.ttf);
}

@font-face {
    font-family: "Dongle-Regular";
    src: url(../fonts/Dongle-Regular.ttf);
}

@font-face {
    font-family: "RobotoMono-Regular";
    src: url(../fonts/RobotoMono-Regular.ttf)
}